@page "/not-found"
@layout MainLayout

<PageTitle>Deni & Ivo</PageTitle>

<section class="section section-notfound">
    <div class="container narrow center">
        <h2 class="script-heading">Denisa &amp; Ivo</h2>
        <p class="lead">Táto stránka neexistuje. / This page does not exist.</p>
        <a class="btn btn-primary" href="">Domov / Home</a>
    </div>
</section>
